<?xml version="1.0" encoding="utf-8"?>
<Configuration>

    <!--These are some of the loggers you can enable. 
        There are several more you can find in the documentation. 
        Besides this log4j configuration, you can also use Java VM environment variables
        to enable other logs like network (-Djavax.net.debug=ssl or all) and 
        Garbage Collector (-XX:+PrintGC). These will be append to the console, so you will 
        see them in the mule_ee.log file. -->

    <Appenders>               
              <Console name="ConsoleAppender" target="SYSTEM_OUT">
                     <PatternLayout pattern="[%d{ yyyy-MM-dd HH:mm:ss}] %-5p %c{1} [%t]: %m%n" />
              </Console>
              <Log4j2Appender name="Log4j2Appender">
                     <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %-5p %c{1} [%t]: %m%n" />
                     <verbose>true</verbose>
                     <stagingBufferSize>100</stagingBufferSize>
                     <s3Bucket>${sys:aws.s3.bucket}</s3Bucket>
                     <s3Path>Mulesoft/${sys:appname}/</s3Path>
                     <s3Region>${sys:aws.s3.region}</s3Region>
                     <s3AwsKey>${sys:aws.s3.key}</s3AwsKey>
                     <s3AwsSecret>${sys:aws.s3.secret}</s3AwsSecret>
              </Log4j2Appender>
       </Appenders>
       <Loggers>
              <AsyncRoot level="INFO">
                     <AppenderRef ref="Log4j2Appender" />
                     <AppenderRef ref="file" />
              </AsyncRoot>
              <AsyncLogger name="org.mule" level="INFO" />
              <AsyncLogger name="com.mulesoft" level="INFO" />
              <AsyncLogger name="org.mule.service.http" level="WARN" />
              <AsyncLogger name="org.mule.extension.http" level="WARN" />
              <AsyncLogger
              name="org.mule.runtime.core.internal.processor.LoggerMessageProcessor"
                     level="INFO" />
       </Loggers>
</Configuration>
